In [1]:
import spacy
nlp=spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [2]:
doc=nlp('Tesla Inc is going to acquire twitter for $45 billion')

In [4]:
for ent in doc.ents:
  print(ent.text,'|',ent.label_,'|',spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [6]:
from spacy import displacy
displacy.render(doc,style='ent')

**List down all the entities**

In [7]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [8]:
doc=nlp('Michael Bloomberg founded Bloomberg in 1982')

In [10]:
for ent in doc.ents:
  print(ent.text,'|',ent.label_,'|',spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg | PERSON | People, including fictional
1982 | DATE | Absolute or relative dates or periods

In [ ]:
doc = nlp("Michael Bloomberg founded Bloomberg in 1982")
for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

In [11]:
doc=nlp('Tesla Inc is going to acquire Twitter Inc for $45 billion')

In [12]:
for ent in doc.ents:
  print(ent.text," | ",ent.label_," | ",ent.start_char," | ",ent.end_char)

Tesla Inc  |  ORG  |  0  |  9
Twitter Inc  |  ORG  |  30  |  41
$45 billion  |  MONEY  |  46  |  57

**Setting custom entities**

In [13]:
doc=nlp('Tesla is going to acquire Twitter for $45 billion')

In [14]:
for ent in doc.ents:
  print(ent.text," | ",ent.label_)

Tesla  |  ORG
Twitter  |  PRODUCT
$45 billion  |  MONEY

In [16]:
s=doc[2:5]
s

going to acquire

In [17]:
type(s)

spacy.tokens.span.Span

In [18]:
from spacy.tokens import Span

In [19]:
s1=Span(doc,0,1,label='ORG')
s2=Span(doc,5,6,label='ORG')

In [20]:
for ent in doc.ents:
  print(ent.text," | ",ent.label_)

Tesla  |  ORG
Twitter  |  PRODUCT
$45 billion  |  MONEY